/*div {
  border: 1px solid green;
}
*/
body {
  font-family: 'Abril Fatface', cursive;
  padding-top: 1%;
  /*background-color: gray;*/
  background-image: url('http://cdn.wallpapersafari.com/55/85/FgTHrv.jpg');
  background-size: cover;
}

.add-book-div {
  padding: 5%;
  text-align: center;
  margin: 10px;
}

.add-book-div input {
  padding: 1%;
}

.add-book-div h1, form {
  background-color: white;
  border-radius: 2px;
}

.button {
  cursor: pointer;
  color: white;
}

.delete-book {
  background-color: maroon;
  text-shadow: -1px 1px maroon;
  border: none;
  padding: 5%;
}

.edit-book-button, .add-book {
  background-color: gray;
  text-shadow: -1px 1px gray;
  border: none;
  padding: 1%;
}

.book-div-container {
  padding-top: 15px;
  display: inline-block;
  width: 70px;
  height: 40vh;
  position: relative;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.book-div {
  width: 70px;
  height: 40vh;
  position: relative;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid black;
  background-image: url('../images/book-border-test.png');
  /*position: relative;*/
  /*opacity: 0.5;*/
}

.book-div-container img {
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.book-div-container h1 {
  transform: rotate(270deg);
  font-size: 20px;
  width: 200px;
}

.book-show-container {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.book-show-container img {
  height: 40vh;
  width: 28%;
  position: relative;
}

.button-row {
  background-color: #935f2f;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10%;

}

.edit-book-image {
  position: relative;
}

.edit-book-image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.book-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 85%;
  margin: 0 auto;
  /*background-color: white;*/
  border-radius: 5px;
}

.header {
  background-image: url(http://photos4.meetupstatic.com/photos/theme_body/c/full_12.jpeg);
  height: 30vh;
}

.header h1 {
  color: white;
  font-size: 6em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  padding-top: 3%;
}

.header a {
  text-decoration: none;
  color: white;
}

.opaque {
  opacity: 0.3;
}

.search {
  text-align: center;
  padding-top: 1%;
}

.search input, .book-show-container input, .add-book-div input {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

.search input:focus,
.search input.focus, {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
  .header {
    height: 20vh;
    font-size: 0.5em;
  }
  .book-div-container, .book-show-container img {
    width: 80%;
    padding: 7%;
  }
}
