div {
  border: 2px solid white;
}

body {
  font-family: 'Roboto', sans-serif;
}

.add-book-div {
  padding: 5%;
  text-align: center;
}

.add-book-div input {
  padding: 1%;
}

.button {
  cursor: pointer;
  color: white;
  box-shadow: 5px 5px 5px #aaa;
}

.book {
  display: inline-block;
  width: 17%;
  height: 35vh;
  position: relative;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 5px 20px #333;
}

.book img {
  height: 100%;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding-bottom: 1%;
}

.csstransforms3d  .books {
  -moz-perspective: 100px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.csstransforms3d  .book {
  position: relative;
  -moz-perspective: 100px;
  -moz-transform: rotateY(-3deg);
  -webkit-transform: perspective(100) rotateY(-3deg);
  outline: 1px solid transparent; 
  box-shadow: none;
  margin: 20px;
}

.csstransforms3d  .book img {
  position: relative;
  max-width: 100%;
}

.csstransforms3d  .book:before,
.csstransforms3d  .book:after {
  position: absolute;
  top: 2%;
  height: 96%;
  content: ' ';
  z-index: -1;
}

.csstransforms3d  .book:before {
  width: 100%;
  left: 7.5%;
  background-color: #5a2d18;
  box-shadow: 5px 5px 20px #333;
}

.csstransforms3d  .book:after {
  width: 5%;
  left: 100%;
  background-color: #EFEFEF;
  box-shadow: inset 0px 0px 5px #aaa;
  -moz-transform: rotateY(20deg);
  -webkit-transform: perspective(100) rotateY(20deg);
}

.delete-book {
  background-color: maroon;
  text-shadow: -1px 1px maroon;
  border: none;
  padding: 1%;
}

.edit-book-button, .add-book {
  background-color: gray;
  text-shadow: -1px 1px gray;
  border: none;
  padding: 1%;
}

.edit-book-image {
  position: relative;
}

.edit-book-image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  background-image: url(https://static.pexels.com/photos/34627/pexels-photo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 40vh;
  font-family: 'Abril Fatface', cursive;
}

.welcome {
  background-image: url("../images/background-bw.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 60vh;
}

.header h1 {
  color: white;
  font-size: 6em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  padding-top: 3%;
}

.header a {
  text-decoration: none;
  color: white;
}

.opaque {
  opacity: 0.3;
}

.search {
  text-align: center;
  padding-top: 1%;
}

.search input, .book-show-container input, .add-book-div input {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

.search input:focus,
.search input.focus, {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    text-align: center;
  }
  .header {
    height: 20vh;
    font-size: 0.5em;
  }
/*  .book-div-container, .book-show-container img {
    width: 80%;
    padding: 7%;
  }*/

  .book {
    width: 60%;
  }
}
